@font-face
{
    font-family:  'Raleway';
    src:url(font/Raleway-VariableFont_wght.ttf), url(font/Raleway-Italic-VariableFont_wght.ttf);
}

header
{
    display: flex;
    justify-content: space-between;
}

.Lienstete
{
    display:flex;
    justify-content: flex-end;
    font-size: small;
    
}

.iconetete
{
    display: inline;
}


a.lien1:link
{
    color:#0065FC;
    margin: 30px;
    text-decoration: none;
    height: 20px;
    border-top: 30px #0065FC;
}

a.lien1:visited
{
    color:#0065FC;
    border-top: 30px #0065FC;
}

a.lien1:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 20px;
}

a.lien2:link
{
    color:grey;
    margin: 30px;
    text-decoration: none;
    height: 20px;
    border-top: 30px #0065FC;
}

a.lien2:visited
{
    color: grey;
    border-top: 30px #0065FC;
}

a.lien2:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 20px;
}

a.lien3:link
{
    color:grey;
    margin: 30px;
    text-decoration: none;
    height: 20px;
    border-top: 30px #0065FC;
}

a.lien3:visited
{
    color:#0065FC;
    border-top: 30px #0065FC;
}

a.lien3:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 20px;
}

#sinscrire
{
    color: #0065FC;
}

body
{
    background-color: white;
    font-family: 'Raleway' , 'Courier New', Courier, monospace;
}

.intro
{
    margin-left: 30px;
}

#map
{
    display: flex;
    justify-content: center;
    color: black;
    width: 10px;
    padding: 15px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    margin-left: 30px;

}

.bouton
{
    background-color: #0065FC;
    color: white;
    padding: 5px;
    width: 90px;
    border-radius: 0 10px 10px 0;
    border: none;
    font-family: 'Raleway', 'Courier New' , 'Courier', monospace;
    font-weight: bold;

}

.Recherche
{
    display: flex;
}

::placeholder
{
    color: black;
    font-weight: bold;
    font-family: 'Raleway';
    opacity: 100;
}

#Recherche::placeholder{
    border-color: #F2F2F2;
}


ul
{
    list-style-type: none;   
}

i
{
    color: #0065FC;
}

.background
{
    display: inline-block;
    padding: 1em;
    border-radius: 15px;
    color: black;
    font-family: 'Raleway';
    background-color: white;
    font-weight: bold;
}

#money
{
    background-color: #c7dcfc;
    border-radius: 50%;
    padding: 10px;
    display: inline;
}

#child
{
    background-color: #c7dcfc;
    border-radius: 50%;
    width: 200%;
    padding: 10px;
    display:inline;
}

#heart
{
    background-color: #c7dcfc;
    border-radius: 50%;
    width: 100%;
    padding: 10px;
    display:inline;
}

#dog
{
    background-color: #c7dcfc;
    border-radius: 50%;
    width: 100%;
    padding: 10px;
    display: inline;
}

#Filtres
{
    background-color: #c7dcfc;
    border-radius: 50%;
    width: 100%;
    padding: 10px;
    display:inline;
    font-size: large;
}

.icones
{
    position: relative;
}

a
{
    text-decoration: none;
}

.grosblock
{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 50% 20%;
    grid-column-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;


}

.zoom .activites img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom .activiteS:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.fond
{
    background-color:#F2F2F2;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 30px;
    margin: 10px;
    padding:10px

}

.auberge25
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-size: smaller;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
    grid-column-start: 1;
}

.cannebiere
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte1
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
}

.hotel52
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-size: smaller;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
}

.porthotel
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte2
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
}

.hotel76
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-size: smaller;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
}

.mouettes
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte3
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
}

.hotel46
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-size: smaller;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
}

.mer
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte4
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
}

.auberge23
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-size: smaller;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
}

.panier
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte5
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
}

.hotel96
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-size: 11px;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
    
}

.amina
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte6
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
}

.far 
{
    color: rgb(155, 155, 155);
}

.fond2
{
    background-color:#F2F2F2;
    border-radius: 30px;
    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    
}


.hotel128
{
    border: 6px solid white;
    border-radius: 20px 0 0 20px;
    background-color: white;
    font-size: 11px;
    width: 200px;
    height: 180px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    grid-column-start:1;
    
    
}

.matin
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte7
{
    position: relative;
    left:150px;
    background-color: white;
    text-align: justify;
    float: right;
}


.coeur71
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: 400px;
    height: 135px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
    text-align: justify;
    font-size: 11px;
}

.chambre
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte8
{
    position: relative;
    bottom:37px;
    background-color: white;
    text-align: justify;
    float: right;
}

.hotelbleu
{
    border: 6px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: 400px;
    height: 135px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    margin: 10px;
    grid-column-start: 1;
    text-align: justify;
    font-size: 11px;
}

.blanc
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 150px;
}

.texte9
{
    position: relative;
    right:37px;
    background-color: white;
    text-align: justify;
    float: right;
}


















.vieux
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 300px;
}

.activite1
{
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    color: black;
    width: 200px;
    padding-bottom: 20px;
    box-shadow: 20px 20px 20px #F2F2F2;
    grid-column-start: 1;
}

.port
{
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    justify-content: left;
    font-size: small;
}







.national
{
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 300px;
}

.activite4
{
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    color: black;
    width: 200px;
    padding-bottom: 20px;
    box-shadow: 20px 20px 20px #F2F2F2;
}

.calanques
{
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    justify-content: left;
    font-size: small;
}



