@font-face
{
    font-family:  'Raleway';
    src:url(Raleway-VariableFont_wght.ttf), url(Raleway-Italic-VariableFont_wght.ttf);
}

header
{
    display: flex;
    justify-content: space-between;
}

.Lienstete
{
    display:flex;
    justify-content: flex-end;
    font-size: small;
    
}


a.lien1:link
{
    color: grey;
    margin: 30px;
    text-decoration: none;
    height: 20px;
    border-top: 5px #0065FC;
}

a:visited
{
    color: grey;
}

a:hover
{
    color: #0065FC;
}

#sinscrire
{
    color: #0065FC;
}

.fond
{
    background-color:#F2F2F2;
}

body
{
    background-color: white;
    font-family: 'Raleway' , 'Courier New', Courier, monospace;
}

#map
{
    background-color: #F2F2F2;
}

.bouton
{
    background-color: #0065FC;
    color: white;
}

#recherche
{
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    width: 20%;
}

::placeholder
{
    color: black;
    font-weight: bold;
    font-family: 'Raleway';
    opacity: 100;
}

ul
{
    list-style-type: none;   
}

li
{
    display: inline;
}


